/* ================================= 
  Base Element Styles
==================================== */
* {
  box-sizing: border-box; }

body {
  font-family: Lato, sans-serif;
  color: rgba(50, 50, 50, 0.5);
  margin: 0;
  line-height: 1.6;
  padding-top: 93px; }

h1 {
  color: #c19a82;
  font-size: 2.5em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: solid 2px #c19a82; }

h2 {
  color: rgba(250, 250, 250, 0.7);
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 100;
  border-bottom: 2px solid #c19a82; }

h3 {
  margin-top: 5px;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100; }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgba(50, 50, 50, 0.5); }

a {
  text-decoration: none; }

p {
  font-size: 1.1em;
  color: rgba(50, 50, 50, 0.5); }

img {
  max-width: 100%;
  max-height: 100%; }

i {
  padding: 0 10px; }

/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Navigation ---- */
.main-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  top: 0;
  z-index: 200; }
  .main-nav a, .main-nav label {
    text-align: center;
    display: block;
    padding: 10px 15px;
    font-size: .95em;
    color: #c19a82;
    text-transform: uppercase;
    z-index: 500;
    transition: letter-spacing .55s; }
    .main-nav a:hover, .main-nav label:hover {
      color: rgba(193, 154, 130, 0.5);
      letter-spacing: 4px;
      cursor: pointer; }
  .main-nav .pipe {
    font-size: 1.5em;
    color: #c19a82; }
  .main-nav .item {
    flex: 1; }
  .main-nav .nav {
    align-self: center; }
  .main-nav .brand {
    flex: 2;
    font-size: 2em;
    background: #fff;
    border-radius: 10px; }
    .main-nav .brand span {
      font-size: .75em; }

/* ---- Layout Containers ---- */
.main-header {
  padding-top: .35em;
  padding-bottom: .35em; }

.banner {
  width: 100%;
  height: 90%;
  background: #3acec2;
  margin-bottom: 24px;
  z-index: -10; }

.main-footer {
  color: rgba(250, 250, 250, 0.7);
  text-align: center;
  background: #6B6B6B;
  padding: 2em 0;
  margin-top: 30px; }
  .main-footer i {
    color: rgba(250, 250, 250, 0.7);
    transition: transform 0.4s cubic-bezier(0.55, -0.62, 0.27, 1.2); }
    .main-footer i:hover {
      transform: scale(1.5); }

.container {
  margin: 55px 70px;
  height: 85%;
  text-align: center;
  padding-top: 40px; }

.projects {
  padding-left: 200px; }
  .projects li {
    position: relative;
    width: 25%;
    height: 30%;
    margin: 10px;
    float: left;
    overflow: hidden; }
    .projects li p {
      color: #fff;
      margin: 5px;
      font-size: .95em; }
    .projects li .overlay, .projects li img {
      transition: transform .6s; }
    .projects li .overlay {
      color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding-left: 20px;
      padding-right: 20px;
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #8e674f;
      transform: translateX(-100%); }
    .projects li .button {
      color: #fff;
      background: #c19a82;
      width: 70%;
      font-weight: 700;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 0;
      border: 2px solid #c19a82;
      border-radius: .5em;
      opacity: 0;
      transition: opacity .3s .4s,  background .4s .3s,  box-shadow .4s 0s, color .4s 0s; }
      .projects li .button:hover {
        background: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 0 3px #c19a82;
        color: #c19a82; }
    .projects li:hover .overlay {
      transform: translateX(0); }
    .projects li:hover img {
      transform: translateX(100%); }
    .projects li:hover .button {
      opacity: 1; }

/* ---- Page Elements ---- */
.feat-img {
  width: 100%;
  height: 100%; }

.about-img {
  height: 300px;
  width: 200px;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -2px rgba(0, 0, 0, 0.75); }

.clearfix {
  content: "";
  display: table;
  clear: both; }

/* ---- Accordion Menu ---- */
.tab-group {
  width: 100%; }

.tab {
  position: relative;
  width: 100%;
  margin-top: 2em; }

.tab input {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999; }

.tab label {
  background: #303030;
  color: #fff;
  display: block;
  font-size: 1.5em;
  font-weight: 100;
  line-height: 3;
  padding-left: .5em;
  margin-bottom: .5em;
  transition: letter-spacing .55s; }

.tab input:focus + label,
.tab label:hover {
  background: #6B6B6B;
  letter-spacing: 3px;
  cursor: pointer; }

.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: all .35s; }

.tab-content ul {
  text-align: justify;
  list-style: disc;
  display: inline-block;
  margin-left: 50px; }

.tab-content p {
  margin: 1em 0; }

.tab input:checked ~ .tab-content {
  max-height: 200px; }

/* ================================= 
            Modal
==================================== */
/* ---- Form Styles ---- */
input[type=checkbox] {
  position: absolute;
  top: -1000px; }

/* ---- Modal Animation ---- */
.modal-overlay {
  opacity: 0;
  z-index: -1000;
  transform: scale(0.001);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

input:checked ~ .modal-overlay {
  opacity: 1;
  transform: scale(1);
  z-index: 1000; }

/* ---- Modal Styles ---- */
.modal {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  display: inline-block;
  padding: 1em; }

.modal-overlay {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  top: 10px;
  left: 30%;
  right: 30%;
  position: fixed;
  text-align: center;
  text-shadow: none;
  z-index: 600; }

.modal-wrap i {
  transition: transform .4s; }

.modal-wrap i:hover {
  transform: rotate(-20deg); }

.modal-wrap p,
.modal-wrap a {
  color: rgba(250, 250, 250, 0.7); }

.modal-wrap a:hover {
  border-bottom: 2px solid rgba(250, 250, 250, 0.7); }

.modal-wrap label {
  background: #c19a82;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 1.5em;
  line-height: 1.5;
  position: absolute;
  right: .5em;
  top: .5em;
  width: 1.5em;
  transition: all ease 1s; }

.modal-wrap label:hover {
  transform: rotate(900deg) scale(1.5); }

/*# sourceMappingURL=main.css.map */
