// Colors
$primary-color: #c19a82;
$lighter-primary-color: rgba(193, 154, 130, .5);
$darker-primary-color: #8e674f;
$text-color: rgba(50, 50, 50, .5);
$secondary-text-color: rgba(250, 250, 250, .7);
$black: #303030;
$light-black: #6B6B6B;
$white: #fff;
$button-hover: rgba(255, 255, 255, .9); 